body{
    background-image: 
    url("images/sunrise.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    }
    
    h1{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
    }
    
   
    
    img{
        height: 200px;
    }
    
    h3{
        color: black;
    }